<%= form_with(model: jogo) do |form| %>
  <% if jogo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(jogo.errors.count, "error") %> prohibited this jogo from being saved:</h2>

      <ul>
        <% jogo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :placar_visitante, style: "display: block" %>
    <%= form.number_field :placar_visitante %>
  </div>

  <div>
    <%= form.label :time_visitante, style: "display: block" %>
    <%= form.number_field :time_visitante %>
  </div>

  <div>
    <%= form.label :placar_mandante, style: "display: block" %>
    <%= form.number_field :placar_mandante %>
  </div>

  <div>
    <%= form.label :time_mandante, style: "display: block" %>
    <%= form.number_field :time_mandante %>
  </div>

  <div>
    <%= form.label :local, style: "display: block" %>
    <%= form.text_field :local %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
