<div id="<%= dom_id jogo %>">
  <p>
    <strong>Placar visitante:</strong>
    <%= jogo.placar_visitante %>
  </p>

  <p>
    <strong>Time visitante:</strong>
    <%= jogo.time_visitante %>
  </p>

  <p>
    <strong>Placar mandante:</strong>
    <%= jogo.placar_mandante %>
  </p>

  <p>
    <strong>Time mandante:</strong>
    <%= jogo.time_mandante %>
  </p>

  <p>
    <strong>Local:</strong>
    <%= jogo.local %>
  </p>

</div>
